# npm
node_modules/
npm-debug.log

# typescript
*.js
*.js.map

# emacs temp files
.\#*

# webstorm
.idea/workspace.xml

# elm
elm-stuff

# tests
.nyc_output/
test/integration/**/tests/elm.json
test/integration/**/lobo.json
test-result/
test/integration/elm-test/tests/**/elm.json
test/integration/elm-test-extra/tests/**/elm.json

# lobo
.lobo
