# npm
node_modules/
npm-debug.log

# typescript
*.js
*.js.map
!/bin/lobo.js
!/wallaby.js

# emacs temp files
.\#*

# webstorm
.idea/workspace.xml

# elm
elm-stuff

# elm-test-extra
plugin/elm-test-extra/ElmTest/

# tests
test/**/tests/elm-package.json
test/**/elm-test*/**/elm-package.json
test-result
