# npm
node_modules/
npm-debug.log

# typescript
*.js
*.js.map

# emacs temp files
.\#*

# webstorm
.idea/workspace.xml

# elm
elm-stuff

# elm-test-extra
plugin/elm-test-extra/ElmTest/

# tests
.nyc_output/
test/**/tests/elm.json
test-result/

# lobo
.lobo
