# emacs temp files
.\#*

# webstorm
.idea

# elm
elm-stuff

# elm-test-extra
plugin/elm-test-extra/ElmTest/

# tests
.nyc_output
test/**/tests/elm-package.json
test/**/elm-test*/**/elm-package.json
test-result
